@font-face {
    font-family: 'Maza';
    src:
        url('../fonts/Maza.woff') format('woff'),
        url('../fonts/Maza.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}