html,
body {
    overflow-x: hidden;
    color: #fff;
    font-family: Maza;
    overflow-y: scroll;

    &:has(.sidebar.open){
        overflow-y: hidden;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.container {
    width: 94.45%;
    margin: 0 auto;
}